.template {
    display:none;
}

.comments {
    max-width:25rem;
    margin:auto;
    background: rgb(217, 200, 255);
    padding:1rem;
}

.comments__entry {
    padding: 0.25rem;
    border-bottom: 1px solid rgb(100, 87, 126);

    .author {
        display:block;
        text-align:right;
    }
}

.comments__entry:last-child {
    border:0;
}